/*Modelo caixa

.conteudo{
    border: 1px solid red;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    padding: 20px 20px 20px 20px; /*Top right botton left
    margin: 30px; /*All

    width: 150px;
}
*/

.conteudo{
    background: blue;
    border: 1px solid gray;
    width: 150px;
    Height: 150px;
    margin: 10px;
    float: left;
}

/*.conteudo1{
    background: red;
    border: 1px solid gray;
    width: 150px;
    Height: 150px;
    float: right;
}*/

.clear{
    clear: left;
}

